<html>
  <head>
    <title>Experiment Factory Battery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>

    <script>
      // POST experiment result (json format) to Concerto (PHP/MySQL)
      function save_data(subject_id, experiment, data){
      	var post_url = '/itest/save_data.php' // TODO : change this to point to your php file.
      	$.ajax({
      		type:'post',
      		cache: false,
      		url: post_url,
      		data: {
      			json: JSON.stringify(data),
      			opt_data: { subject: subject_id, experiment: experiment }
      		},
      		success: function(output) { /* console.log(output); */ } // write the result to javascript console
      	});
      }
      var subject_id;
      var experiment_names;
    </script>

    [SUB_EXPERIMENTSTATIC_SUB]
    <script src="static/js/load_experiments.js" type="text/javascript"></script>
    <link rel='stylesheet' href='static/css/default_style.css' type="text/css">

  </head>
  <body>

	  <script>
		var experiments = []
		// concatenate on the experimental blocks defined for each of the constituent experiments
		cat_experiments(experiments)

    $( document ).ready(function() {

        // Get URL parameters
        var urlvar = jsPsych.data.urlVariables();
        subject_id = urlvar.uid;
        if (subject_id == null) subject_id = "0";
        exp_language = urlvar.lang;
        if (exp_language == null) exp_language = "en";

        // start the experiment -->
    		jsPsych.init({

	          timeline: experiments,
            display_element: "getDisplayElement",
            fullscreen: true,
            language: exp_language,

            on_finish: function(data) {
                //jsPsych.data.localSave(subject_id + '.json', 'json'); // TODO : comment
                //save_data(subject_id, experiment_names[0], { subject: subject_id, test_time: new Date(), test_data: jsPsych.data.getData() }); // MOD : done in the experiment end_block (when displaying scores)
                expfactory_finished = true;
            }
    		});

    });
	  </script>
  </body>
</html>
